@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.mouse-animation-class {
    transition: .6s mouse-animation ease-in-out;
}

@keyframes mouse-animation {
    0% {
        transform: translateY(-10px);
    }
    
    100% {
        transform: translateY(20px);
    }
}